extends layout
block content
  h1= title
  form(id='foodsfrom', action="/resource/foods", method="POST")
    div.form-group
      label.foodsAttr(for='foodName')   Food name
      input#foodName(type='text', name='foodName')
     
    div.form-group
      label.foodsAttr(for='category') category
      input#category(type='text', name='category')
      
    div.form-group
      label.foodsAttr(for='price') cost
      input#price(type='number', name='price')
      
    input(type="submit")
  script.
    document.forms['foodsfrom'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });