extends layout

block content
  h1= title
  .container-fluid
    .row
      -
      for food in foods 
        .col-sm-2
          h3= `Name: ${food.name}`
          p= `category: ${food.category}`
          p= `price: ${food.price}`
  