extends layout
 
block content
  h1= title2 
  p Welcome to grid web applications.
  p Rows: #{query.rows}
  p Cols: #{query.cols}
 
  - let rows = parseInt(query.rows);
  - let cols = parseInt(query.cols);
 
  if (Number.isNaN(rows) || Number.isNaN(cols) || rows < 3 || cols < 3 || rows > 13 || cols > 13)
    p Invalid input. Please provide valid rows and cols values between 3 and 13.
  else
    table#outer
      - for (let i = 0; i < rows; i++)
        tr#middle
          - for (let j = 0; j < cols; j++)
            - let value = (i === j) ? 1 : (i === j + 1) ? 2 : (i === j - 1) ? i : 0
            td= value